.top-nav {
  background-color: setColor(red);
  border-bottom: 1px solid rgba(#fff, 20%);

  @include mq(md) {
    display: none;
  }
  &-wrapper {
    display: flex;
    // align-items: center;
    justify-content: flex-end;
  }

  &-links {
    display: flex;
    &__item {
      margin-left: emCal(16, 30);
      a {
        @include link(
          $fsz: emCal(16, 15),
          $color: #fff,
          $hvr-color: darken(#fff, 10%)
        );
        display: inline-block;
        i {
          margin-right: emCal(16, 10);
        }
      }
    }
  }
}
